
{% extends "layout.html.twig" %}

{% block title %}Pizza{% endblock %}   

{% block body %}

    <section>
        <article>
            <h2>Ajouter une pizza</h2>
            <div class="container">
            {{ form_start(form) }}
                <div class="row">
                    <div class="form-group col-md-6">
                        {{ form_label(form.name) }}
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name , {'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                    {{ form_label(form.price) }}
                    {{ form_errors(form.price) }}
                    {{ form_widget(form.price , {'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                {{ form_row(form.description) }}
                {{ form_row(form.ingredients) }}

                <button type="submit" class="btn btn-primary">Ajouter</button>
            {{ form_end(form) }}
            </div>
        </article>
    </section>

{% endblock %}
