{% extends "layout.html.twig" %}

{% block title %}Pizza - Ingredient{% endblock %}   

{% block body %}

    <section>
        <article>
            <h2>Ajout ingredient</h2>

            <div class="container">
            {{ form_start(form) }}
                <div class="row">
                    <div class="form-group col-md-6">
                        {{ form_label(form.name) }}
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name , {'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Ajouter</button>
            {{ form_end(form) }}
            </div>

        </article>
    </section>
{% endblock %}
