{% extends "layout.html.twig" %}

{% block title %}Pizza - Commande{% endblock %}   

{% block body %}

    <section>
        <article>
            <h2>Commander une pizza</h2>
            {% if is_granted("ROLE_USER") %}
                    
                {{ form_start(form) }}
                    <div class="row">
                        <div class="form-group col-md-6">
                            {{ form_label(form.telephone) }}
                            {{ form_errors(form.telephone) }}
                            {{ form_widget(form.telephone , {'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    {{ form_row(form.pizza) }}

                    <button type="submit" class="btn btn-primary">Ajouter</button>
                {{ form_end(form) }}


            {% else %}
                <p>Pour passer une commande il faut d'abord vous connecter.. </p>
            {% endif %}
        </article>
    </section>
{% endblock %}
